{{ define "components/navbar.html" }}
<nav class="justify-between flex p-5 border-b border-slate-500 bg-white text-black dark:bg-[#1e293b] dark:text-[#e2e8f0]">
  <!-- This href will work if there is no backslash (/) in the end of url
  I assume all of routes won't have that issue -->
  <a href="." role="button" class="dark:text-[#60a5fa] hover:dark:text-[#3b82f6]">Kembali</a>
  {{ if .name }}
  <a href="/profile" class="dark:text-[#60a5fa] hover:dark:text-[#3b82f6]">Profil</a>
  {{ else }}
  <a href="/auth/login" class="dark:text-[#60a5fa] hover:dark:text-[#3b82f6]">Masuk</a>
  {{ end }}
</nav>
{{ end }}
