{{ define "titles/list.html" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[Dev] OPC Bot | {{ .title }}</title>
    <link rel="icon" type="image/webp" href="/images/favicon.webp" />
    <link href="/css/generated-tailwind.css" rel="stylesheet" />
  </head>
  <body class="bg-white text-black dark:bg-[#0f172a] dark:text-[#e2e8f0]">
    {{template "components/navbar.html" .navbar}}
    <!-- Real content -->
    <div class="max-h-[calc(100vh-6.5rem)] py-5 overflow-auto space-y-3">
      <header>
        <h1 class="text-center font-bold text-3xl">Ambil Title</h1>
        <p class="text-center">Grup: {{ .group.Name }}</p>
        <p class="text-center">{{ .navbar.name }} ({{ .group.MemberRole }})</p>
      </header>
      <div class="px-5 flex flex-col items-center gap-3">
        <!-- Save button -->
        <div class="flex justify-between gap-5 w-full max-w-[600px]">
          <button
            data-btn="save_title"
            class="px-5 py-2 bg-primary/20 hover:bg-primary/40 dark:hover:bg-primary/10 transition-colors rounded-md cursor-pointer"
          >
            Simpan
          </button>
          {{ if .IsAdmin }}
          <a
            role="button"
            href="/user/titles/{{ .group.ID }}/add"
            data-btn="add_title"
            class="px-5 py-2 bg-primary/20 hover:bg-primary/40 dark:hover:bg-primary/10 transition-colors rounded-md cursor-pointer"
          >
            Tambah
          </a>
          {{ end }}
        </div>

        <!-- Save status state -->
        <div id="error_msg" class="text-red-400 font-semibold"></div>

        <!-- Tab -->
        <div class="flex gap-5">
          <button data-tab="claimable" class="hover:border-solid select-none cursor-pointer py-2 border-b border-slate-500">
            Bisa diambil
          </button>
          <button
            data-tab="fixed"
            class="hover:border-solid select-none cursor-pointer py-2 border-b border-slate-500 border-none"
          >
            Lainnya
          </button>
        </div>

        <!-- Title list -->
        <div data-content="claimable" class="max-w-[600px] space-y-3 pt-4 w-full">
          {{ range .group.Titles }} {{ if .Claimable }} {{ template "components/title_card.html" dict "Title" . "GroupID"
          $.group.ID "IsAdmin" $.IsAdmin }} {{ end }} {{ end }}
        </div>
        <div data-content="fixed" class="max-w-[600px] space-y-3 pt-4 w-full hidden">
          {{ range .group.Titles }} {{ if not .Claimable }} {{ template "components/title_card.html" dict "Title" . "GroupID"
          $.group.ID "IsAdmin" $.IsAdmin }} {{ end }} {{ end }}
        </div>
      </div>
    </div>
    {{ template "components/footer.html" .}}
    <script>
      let tim = null;
      document.querySelectorAll("[data-tab]").forEach((elem) =>
        elem.addEventListener("click", () => {
          const val = elem.attributes["data-tab"].value;
          const sel = document.querySelectorAll(`[data-content]`);

          sel.forEach((s) => {
            const v = s.attributes["data-content"].value;
            if (v === val) {
              s.classList.remove("hidden");
            } else {
              s.classList.add("hidden");
            }
          });

          document.querySelectorAll("[data-tab]").forEach((e) => {
            const v = e.attributes["data-tab"].value;
            if (v === val) {
              e.classList.remove("border-none");
            } else {
              e.classList.add("border-none");
            }
          });
        })
      );
      document.querySelectorAll('button[data-btn="save_title"]').forEach((btn) => {
        btn.addEventListener("click", () => {
          const setStatus = (msg) => {
            document.querySelectorAll("#error_msg").forEach((elm) => {
              elm.innerText = msg;
            });
          };
          const title_ids = [];
          document.querySelectorAll('input[name^="title_"]').forEach((inp) => {
            if (inp.type !== "checkbox") return;
            if (inp.checked !== true) return;
            if (inp.disabled === true) return;

            const val = inp.attributes["name"].value.replace("title_", "");
            title_ids.push(parseInt(val));
          });

          fetch(document.location.href, {
            method: "POST",
            body: JSON.stringify({ title_ids }),
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
          })
            .then((resp) => {
              return resp.json();
            })
            .then((json) => {
              if (json.code !== 200) {
                setStatus(json.description);
              } else {
                setStatus("Berhasil!");
              }
            })
            .catch((err) => {
              setStatus(err.toString());
            })
            .finally(() => {
              if (tim) {
                clearTimeout(tim);
              }

              tim = setTimeout(() => {
                setStatus("");
              }, 5000);
            });
        });
      });
    </script>
  </body>
</html>
{{ end }}
